* {
  margin: 0;
  padding: 0;
  border: 0;
}

.nav {
  width: 100%;
  justify-content: center;
  background: #EEEAE7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
}

.nav_block {
  display: flex;
  width: 1440px;
  justify-content: space-between;
  margin: 14px 20px;
}

.nav_link {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
}

.nav_title {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 56px;
  display: flex;
  align-items: center;
  color: #000000;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.button {
  background: #F0EEE3;
  border: 1px solid #000000;
  border-radius: 8px;
  display: flex;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  color: #000000;
  cursor: pointer;
  padding: 7px 15px;
  margin-left: 20px;
}

.button:hover {
  background-color: rgb(233, 209, 139);
  opacity: 70%;
  border: none;
  transition: 2s;

}

.nav_user--container {
  align-items: center;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  margin-left: 20px;
}

.nav_user--container:hover {
  transition: 2s;
  transform: scale(1.2);
}

.nav_pic {
  display: flex;
  padding: 9px 9px;

}

.nav_name {
  text-decoration: none;
  margin-left: 20px;
}

.user_name--h {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #000000;
}

.user_name--h:hover {
  border-bottom: 2px solid rgb(233, 209, 139);
  transform: scale(1.1);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
  background: #000000;
  box-shadow: 4px 4px 10px 12px rgba(0, 0, 0, 0.25);
}

.list {
  display: flex;
  background: #F5F5F5;
}

.list_container {
  width: 1440px;
  margin: 0 auto;
}

.list_form {
  display: flex;
  margin: 30px 0px 53px 50px;
}

.list_form--block {
  display: flex;
  margin-right: 130px;

}

.list_form--search {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 9px 30px 9px 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  color: rgba(0, 0, 0, 0.8);
}

.list_form--icon {
  position: relative;
  top: 12px;
  right: 42px;
}

.list_dropdown {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
  padding: 9px 139px 9px 30px;
  cursor: pointer;
}

.catalog {
  display: flex;
  justify-content: center;
  margin: 0px 70px;
  justify-content: space-between;
}

.catalog_block {
  display: block;
  width: 380px;
  height: auto;
  background: #ECE3E1;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 35px;
  position: relative;
}

.catalog_img {
  display: flex;
  justify-content: center;
  width: 336px;
  padding: 23px 22px 30px 22px;
  overflow: hidden;
}

.catalog_title--text {
  display: flex;
  margin-left: 20px;
  font-family: 'Nunito Sans';
  font-size: 26px;
  line-height: 35px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 18px;
}

.text {
  display: flex;
  margin-left: 20px;
  margin-bottom: 38px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}

.catalog_btn {
  display: flex;
  padding: 1px 27px;
  background: #EEEAEA;
  border: solid 2px black;
  border-radius: 8px;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  color: #000000;
  position: absolute;
  bottom: 36px;
  right: 21px;
}

.catalog_btn:hover {
  border: none;
  background-color: rgb(233, 209, 139);
  transition: 2s;
  transform: scale(1.2);
}